$primary-text-color:#323232;
$primary-cta-color:#0095FF;
$primary-background-color:#FFFFFF;
$secondary-text-color:#AFAFAF;
$secondary-cta-color:#0065AD;
$secondary-background-color:#FAFAFA;
$video-components-color:#000000;
$divider-color:#E1E1E1;