@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;

.hero__poster{
     width: 100vw;
     height: 15.2rem;
     object-fit: cover;
     
    
 }
 @include breakpoint.medium{
    .hero__poster{
        
        height:25rem;
        
    }
 }