@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Avenir-regular;
    box-sizing: border-box;
    overflow-x: hidden;
    color: $primary-text-color;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  input::placeholder{
    color: $primary-text-color;
  }
  
  @include breakpoint.large{
   
    .mainPage{
      display: flex;
      
    }
    .mainPage__containers-one{
      width: 60%;
      
    }
    .mainPage__containers-two{
      border-left: 1px solid $divider-color;
      
    }
  }