@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;

.description__heading,.description__channel,.description__date,.description__views-number,.description__likes-number{
    margin:0;
}
.description{
    padding: 0 1rem;
    font-size: 1.1rem;
    

    &__heading{
        font-family: Avenir-demi;
        font-size: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
    &__info{
        display: flex;
        line-height: 2.5rem;
        color: $secondary-text-color;
        border-top: 1px solid $divider-color;
        border-bottom: 1px solid $divider-color;
        &-containers{
            width: 50%;
            padding: 1rem 0;
        }
    }
    &__channel{
        font-family: Avenir-demi;
        color: $primary-text-color;
    }
    &__paragraph{
        line-height: 1.5rem;
       
    }
    &__views-icon{
        width: 1.6rem;
        margin-right: 0.6rem;
    }
    &__likes-icon{
        width: 1.4rem;
        margin-right: 0.6rem;
    }

}
@include breakpoint.medium{
    .description{
        padding:0 3rem;
        &__heading{
            font-family: Avenir-bold;
            font-size: 2.5rem;
            padding-bottom: 0.5rem;
        }
        &__info{
            display: flex;
            justify-content: space-between;
            border-top: none;
            &-containers{
                display: flex;
                justify-content: space-between;
                width: 35%;
                padding: 0;
            }
                
            }
        &__channel{
            font-family: Avenir-bold;
        }
        &__paragraph{
            line-height: 1.8rem;
            padding: 1rem 0;
           
        }
    }
}
    

    @include breakpoint.large{
        .description{
            padding:0 10rem;
            padding-right: 0;
            &__heading{
                font-family: Avenir-bold;
                font-size: 2.5rem;
                padding-bottom: 0.5rem;
                padding-top: 2.5rem;
            }
            &__info{
                display: flex;
                justify-content: space-between;
                border-top: none;
                padding-right: 2.25rem;
                &-containers{
                    display: flex;
                    justify-content: space-between;
                    width: 42%;
                    padding: 0;
                }
                    
                }
            &__channel{
                font-family: Avenir-bold;
            }
            &__paragraph{
                line-height: 1.8rem;
                padding: 1rem 0;
                padding-right: 2.25rem;
            }
        }
    
    }