@use "../../styles/partials/breakpoints" as breakpoint;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;

.upload__heading,.upload__subheading{
    margin: 0;
}
a{
    text-decoration: none;
}
.upload{
    padding: 0 1rem;
    &__heading{
    border-top: 1px solid $divider-color;
    font-family: Avenir-demi;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    }
    &__title-wrapper{
        padding-top: 2rem;
    
    }
    &__description-wrapper{
        padding-top: 2rem;
    
    }
    &__subheading{
    color: $secondary-text-color;
    font-size: 0.95rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
        
    }
    &__thumbnail{
        background-image: url(../../assets/images/Upload-video-preview.jpg);
        background-size: cover;
        width: 100%;
        height: 13.2rem;
        object-fit: cover;
        border-radius: 0.25rem; 
    }

    &__input{
        width: 100%;
        border-radius: 0.25rem;
        padding: 12px;
        border: 1px solid $divider-color;
        background-color: $secondary-background-color;
      
        &--description{
            height: 7.5rem;
        }
        &--title{
            height: 3.4rem;
        }

    }
    &__button{
        width: 100%;
            height: 3.1rem;
            background-color: $primary-cta-color;
            color:$primary-background-color;
            border-radius: 0.25rem;
            border: none;
            font-size: 1rem;
            margin-top: 1rem;
            padding-top: 1rem;
            &--publish:hover{
                background-color: $secondary-cta-color;
            }
    
            &--cancel{
            background-color:$primary-background-color;
            color:$primary-cta-color;
            font-family: Avenir-demi;
            margin-top: 2rem;
            }
            &--tablet{
                display: none;
            }
    
    
     }

     .upload__button::before {
        content: url(../../assets/icons/publish.svg);
        display: block;
        float: left;
        position: relative;
        bottom: 12%;
    }
    

    
}

@include breakpoint.medium{
    .upload{
        padding: 0;
        border-top: 1px solid $divider-color;
        &__wrapper{
            padding: 0 3rem;
            
        }
        &__heading{
            border-bottom: 1px solid $divider-color;
            font-size: 2.5rem;
            border-top: none;
            font-family: Avenir-bold;
            padding-top: 3rem;
            padding-bottom: 1.5rem;
        }
        &__subheading{
            padding-top: 2.5rem;
        }
        &__thumbnail{
            width: 30rem;
            height: 16rem;
        }
        &__button{
            width: 13rem;
            height: 3.2rem;
            margin:0;
        &-wrapper{
            display: flex;
            border-top: 1px solid $divider-color;
            padding-top: 2rem;
            justify-content: flex-end;
            margin-bottom: 2rem;
           
        }
            &--mobile{
                display: none;
            }
            &--tablet{
                display: block;
            }
        
    }
    &__input--description{
        margin-bottom: 2rem;
        }
        &__title-wrapper{
            padding-top: 2rem;
        
        }
        &__description-wrapper{
            padding-top: 2rem;
        
        }
    }
}
@include breakpoint.large{
    .upload{
        padding: 0 ;
        border-top: 1px solid $divider-color;
        &__wrapper{
            padding: 0 10rem;
            
        }
        &__heading{
            border-bottom: 1px solid $divider-color;
            font-size: 2.5rem;
            border-top: none;
            font-family: Avenir-bold;
            padding-top: 3rem;
            padding-bottom: 1.5rem;
        }
        &__subheading{
            padding-top: 2rem;
        }
        &__thumbnail{
            width: 50%;
            height: 13rem;
        }
        &__button{
            width: 13rem;
            height: 3.2rem;
            margin:0;
        &-wrapper{
            display: flex;
            border-top: 1px solid $divider-color;
            padding-top: 2rem;
            justify-content: flex-end;
           
        }
            &--mobile{
                display: none;
            }
            &--tablet{
                display: block;
            }
    }
    &__input--description{
        margin-bottom: 2rem;
        }
    }
    .upload__flex-wrapper{
        display: flex;
       justify-content: space-between;
    }
    .upload__thumbnail{
        width: 24rem;
    }
    .upload__form-wrapper{
        width: 57%;
    }
    .upload__title-wrapper{
        padding-top: 2rem;
    
    }
    .upload__description-wrapper{
        padding-top: 2rem;
    
    }
}